.root {
  position: fixed;
  display: box;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 50%;
  z-index: 2147483647;
  width: 28px;
  height: 28px;
  background-color: pink;
  cursor: pointer;
}
