.root {
  padding: 12px;
  font-size: 14px;
  line-height: normal;
  max-height: 600px;
  overflow: auto;

  .voice {
    cursor: pointer;
  }

  .means {
    .label {
      display: inline-block;
      width: 40px;
      text-align: center;
      color: #fff;
      background-color: #333;
      border-radius: 2px;
      margin-right: 5px;
    }
  }

  .block {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
  }

  .block:last-of-type {
    border-bottom: none;
  }

  .row {
    margin: 5px 0;
  }
}
